@using SistemaOrbita.Model.ViewModels;
@model PermissionVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var pageTitle = new PageTitleViewModel
            {
                Title = "Permission list",
                Breadcrumbs = new List<BreadcrumbItem>
                {
                    new BreadcrumbItem { Text = "Home", Area = "BusinessManagement", Controller = "Home", Action = "Index" },
                    new BreadcrumbItem { Text = "Permission", Area = "Admin", Controller = "Role", Action = "Index" },
                }
            };
}
<partial name="_PageTitle" model="@pageTitle" />

<form asp-controller="permission" method="post" asp-action="Update">
    <input asp-for="@Model.RoleId" type="hidden" />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0 font-weight-bold text-primary">Rol: @Model.RoleName</h5>
                        <p class="fs-6">@Model.RoleClaimsCount permits allocated</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @{
                                var currentPermission = string.Empty;
                                string viewPermission = string.Empty;
                                string readPermission = string.Empty;
                                string writePermission = string.Empty;
                                string deletePermission = string.Empty;
                                string panelId = string.Empty;
                                string panelRefId = string.Empty;
                            }

                            <div class="col-md-6">

                                @for (int i = 0; i < Model.RoleClaims.Count() / 2; i++)
                                {
                                    var permissionName = Model.RoleClaims[i].Value.Split('.')[1];
                                    if (currentPermission != permissionName)
                                    {
                                        currentPermission = permissionName;
                                        viewPermission = $"Permisos.{permissionName}.View";
                                        writePermission = $"Permisos.{permissionName}.Upsert";
                                        deletePermission = $"Permisos.{permissionName}.Delete";
                                        panelId = $"collapse{permissionName}{i}";
                                        panelRefId = $"#collapse{permissionName}{i}";
                                        string enabledPermissions = string.Empty;
                                        enabledPermissions += Model.RoleClaims[i].Selected ? " [View] " : string.Empty;
                                        enabledPermissions += Model.RoleClaims[i + 1].Selected ? " [Upsert] " : string.Empty;
                                        enabledPermissions += Model.RoleClaims[i + 2].Selected ? " [Delete] " : string.Empty;

                                        <p class="mb-0 mt-3">
                                            <a class="btn w-100" style="background:#7BAFD4" data-bs-toggle="collapse" href="@panelRefId" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                <label class="fs-5 text-white">@permissionName</label>
                                                <br> <label class="fs-6 text-white">@enabledPermissions</label>
                                            </a>
                                        </p>
                                        <div class="collapse mb-3" id="@panelId">
                                            <div class="card card-body pt-0 pb-0 mt-0">
                                                <div class="row mt-0">
                                                    <!-- Permiso: Ver -->
                                                    <div class="col text-center">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label m-2">View</label>
                                                            <input asp-for="@Model.RoleClaims[i].Selected" class="form-check-input m-3" />
                                                            <input asp-for="@Model.RoleClaims[i].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[i].Value" type="hidden" />
                                                        </div>
                                                    </div>
                                                    <!-- Permiso: Escribir -->

                                                    <div class="col text-center">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label m-2">Upsert</label>
                                                            <input asp-for="@Model.RoleClaims[i+1].Selected" class="form-check-input m-3" />
                                                            <input asp-for="@Model.RoleClaims[i+1].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[i+1].Value" type="hidden" />
                                                        </div>
                                                    </div>
                                                    <!-- Permiso: Eliminar -->
                                                    <div class="col text-center">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label m-2">Delete</label>
                                                            <input asp-for="@Model.RoleClaims[i+2].Selected" class="form-check-input m-3" />
                                                            <input asp-for="@Model.RoleClaims[i+2].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[i+2].Value" type="hidden" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            </div>

                            <!-- Repite el bloque anterior para la otra mitad de RoleClaims si es necesario -->
                            <div class="col-md-6">

                                @for (int i = (Model.RoleClaims.Count() / 2); i < Model.RoleClaims.Count(); i++)
                                {
                                    var permissionName = Model.RoleClaims[i].Value.Split('.')[1];
                                    if (currentPermission != permissionName)
                                    {
                                        currentPermission = permissionName;
                                        viewPermission = $"Permisos.{permissionName}.View";
                                        writePermission = $"Permisos.{permissionName}.Upsert";
                                        deletePermission = $"Permisos.{permissionName}.Delete";
                                        panelId = $"collapse{permissionName}{i}";
                                        panelRefId = $"#collapse{permissionName}{i}";
                                        string enabledPermissions = string.Empty;
                                        enabledPermissions += Model.RoleClaims[i].Selected ? " [View] " : string.Empty;
                                        enabledPermissions += Model.RoleClaims[i + 1].Selected ? " [Upsert] " : string.Empty;
                                        enabledPermissions += Model.RoleClaims[i + 2].Selected ? " [Delete] " : string.Empty;

                                        <p class="mb-0 mt-3">
                                            <a class="btn w-100" style="background:#7BAFD4" data-bs-toggle="collapse" href="@panelRefId" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                <label class="fs-5 text-white">@permissionName</label>
                                                <br> <label class="fs-6 text-white">@enabledPermissions</label>
                                            </a>
                                        </p>
                                        <div class="collapse mb-3" id="@panelId">
                                            <div class="card card-body pt-0 pb-0 mt-0">
                                                <div class="row mt-0">
                                                    <!-- Permiso: Ver -->
                                                    <div class="col text-center">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label m-2">View</label>
                                                            <input asp-for="@Model.RoleClaims[i].Selected" class="form-check-input m-3" />
                                                            <input asp-for="@Model.RoleClaims[i].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[i].Value" type="hidden" />
                                                        </div>
                                                    </div>
                                                    <!-- Permiso: Escribir -->

                                                    <div class="col text-center">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label m-2">Upsert</label>
                                                            <input asp-for="@Model.RoleClaims[i+1].Selected" class="form-check-input m-3" />
                                                            <input asp-for="@Model.RoleClaims[i+1].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[i+1].Value" type="hidden" />
                                                        </div>
                                                    </div>
                                                    <!-- Permiso: Eliminar -->
                                                    <div class="col text-center">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label m-2">Delete</label>
                                                            <input asp-for="@Model.RoleClaims[i+2].Selected" class="form-check-input m-3" />
                                                            <input asp-for="@Model.RoleClaims[i+2].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[i+2].Value" type="hidden" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            </div>
                        </div>
                        <!-- end: page -->
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 text-center">
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="bi bi-floppy"></i>
                                    </span>
                                    <span class="text">Save</span>
                                </button>
                                <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="btn btn-secondary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="bi bi-arrow-left-circle"></i>
                                    </span>
                                    <span class="text">Return to Index</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
