@using SistemaOrbita.Model.ViewModels;
@model SistemaOrbita.Model.ViewModels.EventLogVM;

@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create event log";
}

<section class="section">
    @{
        var pageTitle = new PageTitleViewModel
            {
                Title = Model.EventLog.Id == null ? "Create" : "Update",
                Breadcrumbs = new List<BreadcrumbItem>
    {
    new BreadcrumbItem { Text = "Home", Area = "BusinessManagement", Controller = "Home", Action = "Index" },
    new BreadcrumbItem { Text = "Event log", Area = "Payroll", Controller = "EventLog", Action = "Index" },
    }
            };
    }
    <partial name="_PageTitle" model="@pageTitle" />

    <div class="row justify-content-center align-items-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <!-- Advanced Form Elements -->
                    <form method="post">
                        @if (!string.IsNullOrEmpty(Model.EventLog.Id))
                        {
                            title = "Update event log";
                            <input asp-for="EventLog.Id" hidden />
                        }
                        <h4 class="card-title mb-3">@title</h4>

                        <div class="row border-0">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>

                        <div class="row mb-3 justify-content-center">
                            <div class="col-md-5">
                                <div class="form-floating mb-3">
                                    <textarea type="text" asp-for="EventLog.Notes" class="form-control form-control-lg" id="floatingInput" placeholder="" style="height:120px"></textarea>
                                    <span asp-validation-for="EventLog.Notes" class="text-danger"></span>
                                    <label for="floatingInput">Notes</label>
                                </div>

                            </div>
                            <div class="col-md-5">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="eventSelect" asp-for="EventLog.EventId">
                                        <option value="">--</option>
                                        @foreach (var item in Model.EventTypes)
                                        {
                                            <option value="@item.Id" data-type="@item.IsDeduction">@item.Name</option>
                                        }
                                    </select>
                                    <label for="floatingSelect">Select a event</label>
                                    <span asp-validation-for="EventLog.EventId" class="text-danger"></span>
                                </div>
                                <div id="discountDiv" class="text-center align-items-center p-2 w-75 mx-auto" style="display:none">
                                    <label id="discountLabel">DISCOUNT</label>
                                </div>
                            </div>

                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="employeeSelect" asp-for="EventLog.EmployeeId" asp-items="Model.Employees">
                                        <option></option>
                                    </select>
                                    <label for="floatingSelect">Select a employee</label>
                                    <span asp-validation-for="EventLog.EmployeeId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 justify-content-center">
                            <div class="col-sm-5">
                                <div class="form-floating mb-3">
                                    <input type="text" asp-for="EventLog.Amount" class="form-control text-end" id="salaryInput" placeholder="">
                                    <label for="floatingInput" class="text-center">Amount</label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="p-2 mt-2">
                                        <label for="floatingInput">Date</label>
                                    </div>
                                    <input type="date" asp-for="EventLog.CreatedAt" class="form-control text-center" style="height:55px;border-radius:5px;">
                                    <span asp-validation-for="EventLog.CreatedAt" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 justify-content-center">
                            <div class="col-sm-10">
                                <div class="form-floating mb-3">
                                    <select class="form-select" asp-for="EventLog.AuthorizedBy" asp-items="Model.AuthorizedBy" id="municipality">
                                        <option></option>
                                    </select>
                                    <label for="floatingSelect">Select authorize</label>
                                    <span asp-validation-for="EventLog.AuthorizedBy" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 justify-content-center">
                            <div class="col-md-5">
                                <div class="form-check form-switch m-3">
                                    <input class="form-check-input" type="checkbox" id="recurringSwitch" asp-for="IsRecurring" onchange="updateRecurringValue()">
                                    <label class="form-check-label" for="recurringSwitch">Recurring?</label>
                                </div>
                            </div>

                            <div class="col-md-5">
                                @if (!string.IsNullOrEmpty(Model.EventLog.Id))
                                {
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="floatingSelect" aria-label="Choose a state" asp-for="EventLog.IsActive">
                                            <option selected>Open this select menu</option>
                                            <option value="0">Inactive</option>
                                            <option value="1">Active</option>
                                        </select>
                                        <label for="floatingSelect">Select a status</label>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row mb-3 justify-content-center container-recurring">
                            <div class="col-md-4">
                                <label>Select frequency</label>
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="frequency-select" aria-label="Choose a frequency" asp-for="EventLog.Frequency">
                                        <option selected></option>
                                        <option value="0">Quincenal</option>
                                        <option value="1">Mensual</option>
                                    </select>
                                    <label for="frequency-select">frequency</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="floatingInput">Start date</label>
                                <div class="input-group">
                                    <input type="date" asp-for="EventLog.StartDate" class="form-control text-center" id="startDate" style="height:55px;border-radius:5px;">
                                    <span asp-validation-for="EventLog.StartDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="floatingInput">End date</label>
                                <div class="input-group">
                                    <input type="date" asp-for="EventLog.EndDate" class="form-control text-center" id="endDate" style="height:55px;border-radius:5px;">
                                    <span asp-validation-for="EventLog.EndDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 justify-content-center container-recurring">
                            <div class="col-md-4">
                                <label>Total installments</label>
                                <div class="form-floating mb-3">
                                    <div class="input-group">
                                        <input type="number" asp-for="EventLog.TotalInstallments" class="form-control text-center" id="installments" style="height:55px;border-radius:5px;">
                                        <span asp-validation-for="EventLog.TotalInstallments" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="floatingInput">Fees</label>
                                <div class="input-group">
                                    <input type="number" step="0.01" asp-for="EventLog.Fee" class="form-control text-center" id="fee" style="height:55px;border-radius:5px;">
                                    <span asp-validation-for="EventLog.Fee" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="floatingInput">Last fee</label>
                                <div class="input-group">
                                    <input type="number" step="0.01" asp-for="EventLog.LastFee" class="form-control text-center" id="last-fee" style="height:55px;border-radius:5px;">
                                    <span asp-validation-for="EventLog.LastFee" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            @if (string.IsNullOrEmpty(Model.EventLog.Id))
                            {
                                <partial name="_AddBackButtons" />
                            }
                            else
                            {
                                <partial name="_UpdateBackButtons" model="Model.EventLog.Id" />
                            }
                        </div>
                    </form><!-- End General Form Elements -->

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/pages/event-log.js"></script>
}